*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --size: 40;
}
nav {
    display: flex;
    height: 50px;
    align-items: center;
    background-color: #333;
}
.button {
    width: 100px;
    height: 80%;
    margin-left: 5px;
    outline: none;
    border: none;
    background-color: lightgray;
    border-radius: 5px;
    cursor: pointer;
}
.dropdown {
    position: relative;
}
.dropdown-menu {
    top: 45px;
    position: absolute;
    width: 200px;
    background: #333;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    color: white;

}
.dropdown:focus .dropdown-menu {
    opacity: 1;
    pointer-events: all;
}
.dropdown-menu div {
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.grid-container {
    display: flex;
    justify-content: center;
    overflow: scroll;
}
.cell-grid {
    display: grid;
    grid-template-columns: repeat(var(--size), 1fr);
}
.cell {
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 1px solid lightgray;
    pointer-events: all;
}
.open-set {
    background-color: yellow;
    animation-name: visited;
    animation-duration: 200ms;
}
.closed-set {
    background-color: red;
    animation-name: visited;
    animation-duration:200ms;

}
.path {
    background-color: blue;
}
@keyframes visited {
    from {
        transform: scale(1.4);
    }
    to {
        transform: scale(1);
    }
}
.current {
    background-color: black;
}
.start {
    background-color: green;
}
.end {
    background-color: orange;
}
.wall {
    background-color: black;
}